@charset "utf-8";

/* *{
    box-sizing: border-box;
} */

body{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    font-size: 14px;
    line-height: 1.5;
}

.atendimento{
    background-color: rgb(11, 82, 139);
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    position: fixed;
    right: 10px;
    bottom: -5px;
    z-index: 1;
    letter-spacing: 1.5px;
}

.header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: white;
}

.header .btn-menu{
    display: none;
}

.header-image-logo{
    /* width: 35%; */
}

.nav-menu{
    padding: 30px;

}

.header .div-menu{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.header .menu{
    margin: 0;
    padding: 0;
}

.header .menu-li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 5px 0;
}

.header .menu-li:last-child{
    margin-right: -5%;
}

.header .menu-li a{
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
}

.header .menu-li a:hover{
    color: rgb(58, 56, 56);
}

.header .menu-li:first-child a{
    color: rgb(58, 56, 56);
}
.header .menu-li:first-child a:hover{
    color: #999;
}

.menu{
    font-size: 13px;
}

.menu-servicos{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu-li-servicos .menu-servicos{
    position: absolute;
    top: 9%;
    transform:translateX(-70%);
    -webkit-transform:translateX(-70%);
    -moz-transform:translateX(-70%);
    -ms-transform:translateX(-70%);
    -o-transform:translateX(-70%);
    display: none;
    padding: 20px 10px;
    width: 200px;

}

.menu-servicos li{
    display: block;
    cursor: pointer;
    background-color: black;
}
.menu-servicos li a{
    padding-left: 20px;
}
.menu-servicos li:hover{
    background-color: rgb(219, 210, 210);
}

.menu-li-servicos .menu-servicos{
    transition: display  2s ease-in-out;
    -webkit-transition: display  2s ease-in-out;
    -moz-transition: display  2s ease-in-out;
    -ms-transition: display  2s ease-in-out;
    -o-transition: display  2s ease-in-out;
}

.menu-li-servicos:hover .menu-servicos{
    display: block;
}

.menu-servicos li{
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.main-conteudo{
    background-color: #ccc;
}

.banner{
    background-color: white;
    padding: 80px 10px;
    /* background: url(../image/lenovo-thinkpad.png) no-repeat;
    background-position:  right center;
    background-size: 300px */
}

.banner .banner-title{
    text-transform: uppercase;
    font-weight: normal;
}

.banner .banner-title strong{
    color: rgb(38, 108, 189);
}

.btn{
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.btn-experimentar{
    background-color: rgb(11, 82, 139);

}

.btn-experimentar:hover{
    background-color: rgb(113, 159, 219);
}

.btn-conhecer{
    background-color: rgb(113, 159, 219);
    display: block;
    width: 150px;
}

.btn-conhecer:hover{
    background-color: black;

}

.section-recursos{
    border-top: 1.5em solid rgb(73, 131, 185);
    border-bottom: .6em solid rgb(148, 176, 202);
    text-align: center;
    padding: 20px 40px;
    background: linear-gradient(rgba(113, 113, 221, .5), rgba(113, 113, 221, .5)) no-repeat,  url(../image/os-8-melhores-notebooks-para.jpg) fixed no-repeat;
    background-size: 100% 100%, 100% 100%;
    color: white;
    position: relative;
}

.section-recursos::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-top: 2px solid rgb(51, 51, 128);

}

.container{
    background-color: white;
    width: 90%;
    margin: 30px auto;
    box-sizing: border-box;
    padding: 0 10px;
}


.container img{
    width: 100%;
}

.section-ofertas h4{
    text-transform: uppercase;
}

.section-title{
    text-transform: uppercase;
    color: rgb(25, 186, 235);
}

.section-articles-ofertas{
    width: 100%;
    padding: 10px 0 30px;
    border-bottom: 2px solid rgb(21, 75, 119);
}

.link-oferta{
    background-color: rgb(21, 75, 119);
    display: block;
    padding: 5px 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
}

.link-oferta:hover{
    background-color: rgb(39, 154, 189);
}

.templates{
    background-color: white;
    margin: 20px 0;
    padding: 30px;
}

.templates h1{
    font-size: 25px;
}

.templates h4{
    font-weight: normal;
}
.templates h1,
.templates h4{
    text-transform: uppercase;
    text-align: center;
}

.slide{
   width: 100%;
    overflow: hidden;
}

.slideshow{
    white-space: nowrap;
}

.slideshow figure{
    display: inline-block;
}

.ult-chamada{
    background-color: rgb(85, 155, 235);
    margin: -20px 0 0;
    padding: 60px 50px 80px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}


.ult-chamada h2{
    font-weight: normal;
    font-size: 16px;
}

.ult-chamada a{
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(21, 75, 119);
    transition:  background-color .5s ease-in-out;
    -webkit-transition:  background-color .5s ease-in-out;
    -moz-transition:  background-color .5s ease-in-out;
    -ms-transition:  background-color .5s ease-in-out;
    -o-transition:  background-color .5s ease-in-out;
}

.ult-chamada a:hover{
    background-color: rgb(39, 154, 189);
}

.footer{
    padding: 20px;
    background-color: black;
    color: #999;
}

.footer .div-atendimento p{
    color: white
}

.footer .footer__nav-menu li{
    list-style: none;
    text-indent: -40px;
    line-height: 2;
}

.footer .footer__nav-menu a{
    text-decoration: none;
    color: #999;
}

.footer  h5{
    text-transform: uppercase;
    font-weight: normal;
    color: #999;
}

.footer i[class ^="fa"]{
    color: #999;
    margin-left: 10px;
    font-size: 22px;
    transition: color .5s ease;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    padding: 5px;
}

.footer i[class ^="fa"]:hover{
    color: white;
}

.footer .div-infor a{
    text-decoration: none;
    color: rgb(48, 156, 160);
    transition: text-decoration 2s ease-in-out;
    -webkit-transition: text-decoration 2s ease-in-out;
    -moz-transition: text-decoration 2s ease-in-out;
    -ms-transition: text-decoration 2s ease-in-out;
    -o-transition: text-decoration 2s ease-in-out;
}

.footer .div-infor a:hover{
    text-decoration: underline;
}

.footer p:nth-child(5){
    text-transform: uppercase;
    margin-bottom: -15px;
}

.footer p:nth-child(6),
.footer p:last-child{
    font-size: 13px;
}